* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 텍스트 색상 상속 (선택 사항) */
}

.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    z-index: 10;
    font-weight: 100;
}

.menu-button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}


body {
    font-family: 'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}
h1 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #333;
}
hr {
    margin-bottom: 20px;
}
.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-item {
    width: 45%;
    background-color: #f9f9fb;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.menu-item:hover {
    background-color: #e0e0e5;
    transform: translateY(-5px);
}
.menu-item h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #333;
}
.menu-item p {

    font-weight: 300;
    font-size: 12px;
    color: #007aff;
}
.content {
    margin-top: 30px;
    font-size: 13px;
    color: #666;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}
input[type="text"], input[type="password"] {
    width: 330px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
input[type="text"]:focus , input[type="password"]:focus {
    outline: none;
    box-shadow: inset 0 2px 8px rgba(109, 153, 255, 0.5);
}
input[type="submit"],input[type="button"], button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover ,input[type="button"]:hover, button:hover {
    background-color: #005fcc;
}


.input_warn {
    color: rgb(255, 76, 76);
    font-size: 10px;
}


.card-container {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 카드 사이 간격 */
    justify-content: center;
}

.card-container-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card-search {
    width: 330px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px); /* 두 열로 나열되도록 너비 설정 */
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover, .card-search:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}
.card img, .card-search img {
    border-radius: 50%;
    width: 100px;
    margin-right: 20px;
}
.card-content {
    display: flex;
    flex-direction: column;
}
.card-content h2 {
    font-size: 20px;
    font-weight: 320;
    color: #333;
    margin-bottom: 10px;
}
.card-content p {
    font-size: 14px;
    color: #666;
    font-weight: 300;
    margin: 5px 0;
}